.projects.fadeIn#projects
    h1 PROJECTS
    <br><br><br><br><br><br><br>
    //- .slider-container
    //-     .slider
    //-         #img
    //-             img(src='/assets/nodebird.png')
    //-             | Express 기반의 NodeBird 메신저
    //-         #img
    //-             img(src='/assets/musicSNS.png')
    //-             | 처음 만들어본 웹 musicSNS
    //-         #img
    //-             img(src='/assets/BABABA.png')
    //-             | 자동 승하차 앱
    //-         #img
    //-             img(src='/assets/embedded.png')
    //-             | Embedded 시스템
    .flex-parent
        .input-flex-container
            .input.active
                span(data-year='', data-info='music SNS')
            .input
                span(data-year='', data-info='BABABA')
            .input
                span(data-year='', data-info='Embedded System')
            .input
                span(data-year='', data-info='NodeBird')
        .description-flex-container
            p.active
                img(src='/assets/musicSNS.png')
                <br><br>
                |&nbsp;&nbsp;JSP와 서블릿, Apache를 이용해 처음으로 만들어 본 웹 음악 SNS 서비스입니다.
            p 수정 중입니다.
            p 수정 중입니다.
            p
                img(src='/assets/nodebird.png')
                <br><br>
                | 익스프레스 기반의 SNS 웹 앱 입니다.
                br
                | 'Node.js 교과서' 책의 내용중 하나로, 추가 구성 요소를 위해
                | 기본 구성에서 UI 변경과 기능 추가와 그에 따른 백엔드 수정이 이루어졌습니다.
                br
                br
                a(href='https://github.com/ASSSSN/nodebird' target='_blank') 자세히


script.
    //- $(document).ready(() => {
    //-     $('.slider').bxSlider({
    //-         mode: 'fade',
    //-         captions: true,
    //-         slideWidth: 500,
    //-         //- slideHeight: 300,
    //-     });
    //- });
    $(function(){
        var inputs = $('.input');
        var paras = $('.description-flex-container').find('p');
        $(inputs).click(function(){
            var t = $(this),
                    ind = t.index(),
                    matchedPara = $(paras).eq(ind);
            
            $(t).add(matchedPara).addClass('active');
            $(inputs).not(t).add($(paras).not(matchedPara)).removeClass('active');
        });
    });